* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    
}
header{
    padding-bottom:17.5px;
}
.navbar {
    padding-top:30px;
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar ul {
    margin-right: 108px; 
}
.navbar ul li{
    display:inline-block;
    list-style-type: none;
    padding: 10px  25px;
}
.contact{
    color:white;
    text-decoration: none;
}
.navbar ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 455;
    font-size: 18px;
    text-transform: capitalize;
}
.navbar ul li a:hover{
    color:hsl(0, 92%, 48%);
    transition: 0.4s;
}
.box {
background-color: hsl(0, 92%, 48%);
border-radius: 12px;
padding: 7.5px;
font-weight: 500;
color:aliceblue;
transition: transform .4s;
}
.box:hover {
    transform: scale(1.2);
}
span {
    color:red
}
.hero{
    height:400px;
    width:100%;
    background-image: url("image2.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    color:aliceblue;
    font-size: 50px;
    margin-top: 5px;
}
h4 {
    color:rgb(255, 182, 204);
    font-size: 17px;
    padding-left: 5px;
}
h3{
   color:aliceblue;
   font-size:23px;
   margin-top: 10px;
}
.Home{
    position: absolute;
    margin-top: 39px;
    left:36.8%;

}
.placeholder {
   
    margin-top: 42px;
    
}
form {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: white; 
    padding: 1px;
    border: 3px solid #ff0000;
}
input[type="email"] {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 17px;
    width: 170px;
    font-family: 'Roboto', sans-serif;
}

input::placeholder {
    color: #aaa;
}

button {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: red;
    color: white;
    font-size: 16px;
    margin-left: 67px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
    transform: scale(1.2);
}
.section-about{
    width:100%;
    padding: 100px 0px;
    margin-top:295px;
    background-color: rgba(169, 169, 169, 0.244);
}
.image1{
    background-image:url("image1.jpg");
    background-size: contain;
    height:500px;
    width:400px;
    background-repeat: no-repeat;
    background-position: left center ;
    margin-left: 5px;
    border-radius: 10px;
    
}
.about-me {
    display: flex;
    gap:60px;
    align-content: center;
    justify-items: center;
    padding: 50px 250px;
}

.my-info {
    max-width: 500px;
    margin-top: 100px; 
}

.h1-2 {
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 20px;
}

.h3-2 {
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    margin-bottom: 20px;
}

.my-info p {
    font-size: 16.5px;
    color: rgb(238, 196, 209);
    line-height: 1.6;
    margin-bottom: 30px;
}

.my-info button {
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: red;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 0;
}


.my-info button:hover {
    background-color: darkred;
    transform: scale(1.1);
}
.section-services{
    width: 100%;
    padding-top: 120px;
    width:100%;
    background-color: rgba(169, 169, 169, 0.355);
    padding-bottom: 120px;
}

.main-container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

i {
    color:red;
}
.section-services .my-services h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(240, 248, 255);
    font-size: 65px;
}

.container-one,
.container-two,
.container-three {
    height: 320px;
    background-color: black;
    border: 2px solid transparent;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 270px;
    margin: 40px 0;
}

.container-one i,
.container-two i,
.container-three i {
    font-size: 35px;
    margin-bottom: 15px;
}

.container-one h3,
.container-two h3,
.container-three h3 {
    margin-bottom: 12px;
    font-size: 20px;
    color: white;
}

.container-one p,
.container-two p,
.container-three p {
    color: rgb(238, 196, 209);
    font-size: 15px;
    line-height: 1.6;
     margin-bottom: 22px;
}
.container-one button,
.container-two button,
.container-three button {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
}

.but-ton1,
.but-ton2,
.but-ton3 {
    margin-right: 61px;
}

.container-one button:hover ,
.container-two button:hover,
.container-three button:hover {
    background-color: darkred;
    transform: scale(1.2);
}
.projects{
    width: 100%;
    padding-top: 120px; 
    width:100%;
    background-color: rgba(169, 169, 169, 0.443);
    padding-bottom: 120px;
}
.projects-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.project1,
.project2,
.project3 {
    height: 320px;
    border: 2px solid transparent;
    margin-top: 55px;
    border-radius: 10px;
    width: 270px;
    background-color:black;
}

.projects .my-projects h1{
    text-align: center;
    color: rgb(240, 248, 255);
    font-size: 65px;
    margin-right: 11px;
}
.project1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Amazon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35.5%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.project1-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.4s ease;
    border-radius: 10px;
}

.project1:hover .project1-details {
    opacity: 1;
}

.project1-details h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project1-details p {
    font-size: 15px;
    line-height: 1.4;
    color: rgb(234, 214, 220);
}

.project2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("SlotMachine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35.5%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.project2-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.4s ease;
    border-radius: 10px;
   
}

.project2:hover .project2-details {
    opacity: 1;
}

.project2-details h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project2-details p {
    font-size: 15px;
    line-height: 1.4;
    color: rgb(234, 214, 220);
}

.project3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Tictactoe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35.5%;
    height:400px;
    border-radius: 10px;
    overflow: hidden;
}

.project3-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.4s ease;
    border-radius: 10px;
   
}

.project3:hover .project3-details {
    opacity: 1;
}

.project3-details h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project3-details p {
    font-size: 15px;
    line-height: 1.4;
    color: rgb(234, 214, 220);
}
