* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}
header{
    padding-bottom:17.5px;
}
.navbar {
    padding-top:40px;
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar ul li{
    display:inline-block;
    list-style-type: none;
    padding: 10px  25px;;
}
.contact{
    color:white;
    text-decoration: none;
}
.navbar ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 455;
    font-size: 18px;
    text-transform: capitalize;
}
.navbar ul li a:hover{
    color:hsl(0, 92%, 48%);
    transition: 0.4s;
}
.box {
background-color: hsl(0, 92%, 48%);
border-radius: 12px;
padding: 7.5px;
font-weight: 500;
color:aliceblue;
transition: transform .4s;
}
.box:hover {
    transform: scale(1.2);
}
span {
    color:red
}
.hero{
    height:400px;
    width:100%;
    background-image: url("image2.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    color:aliceblue;
    font-size: 50px;
    margin-top: 5px;
}
h4 {
    color:rgb(255, 182, 204);
    font-size: 17px;
    padding-left: 3px;
}
h3{
   color:aliceblue;
   font-size:23px;
   margin-top: 10px;
}
.Home{
    position: absolute;
    margin-top: 37px;
    left:36.8%;
}
.placeholder {
   
    margin-top: 42px;
    
}
form {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: white; 
    padding: 1px;
    border: 3px solid #ff0000;
}
input[type="email"] {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 17px;
    width: 170px;
    font-family: 'Roboto', sans-serif;
}

input::placeholder {
    color: #aaa;
}

button {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: red;
    color: white;
    font-size: 16px;
    margin-left: 67px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}